.gradientBackground {
  width: 100%;
  min-width: 2000px;
  height: 1200px;
  /* Path 2: */
  color: #007EE5 ;
  clip-path: polygon(0 1%, 0% 65%, 100% 0);
  position: absolute;
  margin: -15px 0 0 0;
  z-index: -1;
}

@media (max-width: 600px) {
  .gradientBackground {
    clip-path: none;
    height: 200px;
  }
}
